.incoming {
  width: 600px;
  padding: 16px;

  border: 1px solid;
}

.incoming-header {
  margin-top: 0;
}

.message {
  margin-bottom: 5px;
  padding: 15px;

  border: 1px solid;
}

.message-header {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.message-divider {
  margin: 15px 0;
}

.message-header div {
  display: flex;
  justify-content: space-around;
}

.message-header div:nth-last-of-type(1) {
  display: flex;
  justify-content: flex-end;
}

.message-header div:nth-of-type(1) {
  display: flex;
  justify-content: flex-start;
}

.name-wrapper, .subject-wrapper, .date-wrapper {
  width: 30%;
}
